body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei', 微软雅黑;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000000;
}
#cover {
    height: 100%;
    width: 100%;
    background-color: #000816;
    opacity: 0.5;
    /* z-index: 2; */
}
#activity,#register,#see-rule{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    background: url(../images/background_detail.jpg) no-repeat;
    text-align: center;
    background-size: cover;
}
#reward{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    background: url(../images/background_detail.jpg) no-repeat;
    text-align: center;
    background-size: cover;
}
#no-acitvity {
    margin: 160px 75px 30px 75px;
    width: 600px;
    height: 416px;
    background-color: #133471;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
        /*padding-bottom: 30px;*/
        overflow: hidden;
}
.two-code {
    /*margin: 54px 240px 50px 240px;*/
    /*position: absolute;*/
    margin: -1000px;
    padding: 1000px;
}
.close {
    right: 105px;
    top: 190px;
    position: absolute;
}
.activity-title {
    color: #c8a355;
    font-size: 36px;
    font-family: '微软雅黑 Regular';
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
.acitvity-tips {
    color: #c8a355;
    font-size: 26px;
    font-family: '微软雅黑 Light';
    text-align: center;
    width: 100%;
    display: inline-block;
    line-height: 40px;
}
#reward-content {
    overflow: hidden;
    position: absolute;
    top: 170px;
    bottom: 0;
    width: 100%;
}
#reward-content #reward-title {
    font-size: 36px;
    color: #c8a355;
    margin-bottom: 30px;
}
#register-content {
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 166px;
    bottom: 0;
}
#register-content>.acitvity-tips{
    opacity: 0.7;
}
.register-code {
/*    margin-top: 60px;*/
    width: 290px;
    height: 290px;
    border: none;
    padding: 2000px;
    margin: -2000px;
}
#rule-content {
    margin-top: 150px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.rule-tips{
    color: #fff;
    font-size: 26px;
    font-family: '微软雅黑 Light';
    line-height: 40px;
    opacity: 0.8;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
}
.rule-title {
    color: #fff;
    font-size: 30px;
    font-family: '微软雅黑 Regular';
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
img.img1 {
    z-index: 101;
    position: relative;
    left: 42%;
    width: 320px;
    height: 320px;
}
img.img2 {
    /*z-index: 102;
    position: relative;
    left: 0;*/
    width: 400px;
    height: 400px;
    margin: -1000px;
    padding: 1000px;
}
.add-margin{
    margin-bottom: 60px;
}
.background{
    margin-top: 54px;
    margin-bottom: 30px;
}